---
import Layout from '../layout/Layout.astro'

const { frontmatter } = Astro.props

function getTag(tags:string) {
    let imageURL = "/tags/"
    if(tags == "react") {
        imageURL += "react.png"
    }

    return imageURL
}

const { tags, durationArticle, title, releasedDate } = frontmatter

const imageURL = getTag(tags)

---

<Layout title={title}>
    <article class="mx-auto">
        <div class="flex items-center">
            <picture class="mr-4">
                <img src={imageURL} alt="Logo" width="100" height="100">
            </picture>
            <div>
                <h1 class="text-4xl font-semibold">{title}</h1>
                <small>{releasedDate} . {durationArticle} minutos de lectura de lectura</small>
            </div>
        </div>
        <div class="mt-9">
            <slot/>
        </div>
    </article>
    
</Layout>

<style>
    article {
        max-width: 800px;
    }
</style>